<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login VSDRI</title>
    <style>
div {
  background-color: white;
  width: 300px;
  border: 1px solid grey;
  padding: 50px;
  margin: 20px;
}
.box{
   position:absolute;
   width: 300px;
   left: 50%;
   margin-left: -100px;
}
</style>
</head>
<body>
<table>
    <tr>
        <th>
            <div class="box" align="center"><h1>VSDRI <br><br> VERIFICACIÓN SECUNDARIA CÁLCULO DOSIS DE RADIACIONES IONIZANTES EN EL TTO DE PACIENTES ONCOLÓGICOS</h1></div>v 20210903
        </th>
    </tr>
    <tr>
    <td>
    <form method="POST">
        <label for="username">Usuario</label>
        <input type="text" name="username">

        <label for="password">Contraseña</label>
        <input type="password" name="password">

        <input type="submit" value="Entrar"/>
    </form>
    </td>
    </tr>
</tr>
</table>
</body>
</html>